* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: black;
  margin-top: 100px;
}

form {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  align-content: center;
}


li {
  width: 100%;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  display: flex;
  position: relative;
  margin: 5px 0;
  transition: 0.5s linear;
  border: 1px solid black;
}

button {
  margin-top: 20px;
}

li button {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  text-align: center;
}

form button {
  width: 50px;
}
.top-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-right: 1rem;
}

.top-menu li {
  padding: 0.5rem;
}

main > section {
  text-align: center;
  padding: 1rem 2rem;
}

.date {
  text-align: right;
  padding: 0 1rem;
}

.table {
  border: 3px solid;
}

button {
  box-shadow: 3px 4px #888;
  width: 10vw;
  min-width: 63px;
}

.Button {
  margin-left: auto;
}



form input {
 align-content: center;
}

.for-add {
  width: 50vw;
  min-width: 200px;
  max-width: 400px;
  margin: auto;
}

.for-contact {
  width: 80vw;
  margin-top: 20%;
  max-width: 570px;
}

.for-contact ul {
  width: 70%;
  margin: auto;
  text-align: start;
}

.listNav,
.addNav,
.contactNav {
  cursor: pointer;
}

footer {
  margin-top: auto;
}

footer p {
  border-style: solid;
  border-width: 2px;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
}

.nav-links {
  border-style: solid;
  border-width: 2px;
  color: rgb(0, 102, 255);
}
.navbar{
  align-items: center;
  height: 70px;
  margin-top: 20px;
}